body{
font-family: Oswald;
margin: 0;
overflow-x: hidden;
background-color: white;

}

/*focus*/


* {

 max-width: 100vw;

}

/*------------Side menu------------*/
.sidenav {
  display: none;
  
height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 1;
  background-color: white;
	border: 1px solid black;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: 60px;

}


.sidenav a {
  text-decoration: none;
  color: black;
  display: block;
	font-family: Oswald;
	position: static;
	margin: 10px;
	padding: 12px;
	margin-right: 150px;
	font-size: 22px;
}

a:focus {
  background-color: #fff82b;
  color: black;
  text-decoration: underline;
}

.sidenav a:hover {
  background-image: linear-gradient(#dbdbdb,white);
	color: black;
	border: 1px solid black;
	border-radius: 4px;
	margin: 10px;
	padding: 12px;
	margin-right: 150px;
}

.sidenav .closebtn {
  color:#aa0e28;
  position: relative;
  top: -30;
  margin: 10px;
	padding: 7px;
  text-decoration: underline;
}

.sidenav .closebtn:hover {
  color:#aa0e28;
  position: relative;
  top: -30;
  margin: 10px;
	padding: 7px;
  text-decoration: underline;
}

.sidenav h1 {
  font-size: 1.6em;
  margin-left: 1vw;
}

.cat-child{
  margin-left: 1.5vw;
  font-size: 0.7em;
}

.cat-child a{
  font-size: 1.6em;


}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*----------Side menu end--------------*/

/*------------------------columns-----------------*/
.row{
  width: 100%;
  height: 250px;
  display: flex;
  margin-bottom: 20px;
}

.column {
  margin-left: 15px;
  float: left;
  width: 49%;
  padding: 10px;
  margin-right: 15px;


  overflow-y: hidden;
  border: 1px solid black;
  border-radius: 5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 1400px) {
  .paragraph h2{
    font-size: 20px;
    margin-bottom: 0;
  }

  .paragraph h1{
    font-size: 25px;
  }

  .paragraph{
    width: 100%;
    height: 200px;

	line-height: 70%;
	max-height: 40vh;
  }
  .column {
    width: 100%;
    margin-left: 0px;

  }
  .row{
    display: block;
  }
  p{
    font-size: 35;
  }
  .col-33{
    width: 100%;
	font-size: 9vw;
  }
}
/*---------------------columns--------------------*/


/*-------------------------left c---------------------*/
.news a{
  color: black;
  font-style: Oswald;
  font-weight: bold;
  font-size: 25px;
  padding-left: 20px;
  text-decoration: none;
}

.news a:hover{
  color: white;
  text-decoration: underline;
  font-style: Oswald;
  font-weight: bold;
  font-size: 25px;
  padding-left: 20px;
}

.news a:focus {
  outline: none;
  background-color: #fff82b;
  color: black;
  text-decoration: none;
}

.news h3{
  font-size: 18px;
  margin-top: 0;
  padding-left: 20px;
}

.news p{
  line-height: 35px;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  letter-spacing: 0.5px;
  word-spacing: 2px;
}
/*---------------------left c------------------*/

/*--------------right c------------------*/
.anouncements a{
  font-size: 25px;
  padding-left: 20px;
  padding-bottom: -20px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.anouncements a:hover{
  font-size: 25px;
  text-decoration: underline;
  padding-left: 20px;
  padding-bottom: -20px;
  color: black;
}

.anouncements a:focus {
  outline: none;
  background-color: #fff82b;
  color: black;
  text-decoration: none;
}

.anouncements h3{
  font-size: 18px;
  margin-top: 0px;
  padding-left: 20px;
  color: white;
}

.anouncements p{
  line-height: 35px;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  letter-spacing: 0.5px;
  word-spacing: 2px;
  color: white;
  margin-bottom: 70px;
}
/*--------------------right c---------------*/

/*----------------main2---------------*/
.container {
  position: relative;
}

.paragraph {
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: black;
  padding: 20PX;
  background-color: white;
  border-radius: 5px;
}

.home{
  border-top: 1px solid #0f0f0f;
  border-bottom: 1px solid #0f0f0f;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
/*--------------------main2---------------------*/

/*---------------------header-------------------*/
.uat-logo{
  float: left;
  width: 100px;
  height: 100px;
  margin-left: 110px;
}


.header {
  padding: 5px;
  
  overflow: hidden;
  text-align: center;
  background-color: #9c9c9c;
  background-image: linear-gradient(#808080, white);
  position: sticky;

}

.header a {
  float: left;
  margin-top:30px;
  color: #0f0f0f;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 22px;
  line-height: 25px;
  margin-right: 40px;
}


@media (max-width: 975px)  {
.footer-logo{
  width: 50%;
  margin-top: 20px;
  margin-bottom: -30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
}
@media (min-width: 975px)  {
.col-33 {
	display: inline-block;
	vertical-align: top;
  margin: 20px;
  width: 40%;
  font-size: 1.2vw !important;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;

}
.footer-logo{
  width: 18%;
  margin-top: 20px;
  margin-bottom: -30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
}

.header a:focus {
  outline: none;
  background-color: #fff82b;
  color: black;
  text-decoration: none;
}


.header a.logo {

  font-weight: bold;
  position: relative;
}

.header-right{
  float: right;
  margin-left: 20px;
}

.header-right a:hover {
  background-color: white;
  border-radius: 4px;
  border: 1px solid black;
}

header * {
 display: inline-block;
 font-size: 1vw;
 text-align: center;
}


/*------------------------Slide 2------------------------*/


main{
  background-image: linear-gradient(white, #808080);
  margin-top: 100px;
  margin-bottom: -30px;
}

*{
    box-sizing: border-box;
	max-width: 100vw;
}

.h1Slide2 {
  border-top: 1PX SOLID BLACK;
  margin-top: 30px;
  margin-bottom: 0;
  padding-left: 2.6vw;
  display: block;
  font-size: 5.4em;
      color: black;
}

.h2Slide2 {
  border-bottom: 1px solid black;
  margin-top: -30px;
  padding-left: 50px;
  padding-bottom: 20px;
  margin-right: auto;
  display: block;
  font-size: 2.4em;
	color: rgb(15,170,40);
}

.courseTitle:focus {
  outline: none;
  background-color: #fff82b;
  color: black;
  text-decoration: none
}

.courseTitle{
  font-size: 24px;
}

ul.courses {
  padding: 20px;
    display: inline-block;
	color: rgb(170,15,40);
display: block;
	text-align: center;
	font-size: 1em;

}

ul.courses li {
		padding: 10px;
    list-style: none;
}

ul li a{
  text-decoration: none;
  color:#aa0e28;
}

ul li a:hover{
  text-decoration: underline;
}

ul li a:focus{
  outline: none;
  background-color: #fff82b;
  color: black;
  text-decoration: none
}





.row2 {
     text-align: center;
		display: block;
}


/*----------------------Slide 2 end--------------------*/

/*--------------------Slide3------------------------*/

.slide3{
  background-image: linear-gradient(white, #808080);
}

.col-33Ny h2 {
		padding-bottom: 34em;
}


ul.courses2 {
  padding: 20px;
 display: inline-block;
 color: rgb(170,15,40);
 display: block;
 text-align: center;
font-size: 1.4em;

}

ul.courses2 li {
		padding: 10px;
    list-style: none;
}
.col-33 {
	display: inline-block;
	vertical-align: top;
  margin: 20px;
  width: 40%;
  font-size: 3.1vw;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;

}
.col-33Ny {
	display: inline-block;
	vertical-align: bottom;
  margin: 20px;
  width: 50vw;
  color: brown;
  font-size: 1.3vw;
  background-color: white;
  border: 1px solid black;
  border-radius: 6px;
  padding-bottom: 1vh;
}


.logoLast {
		width: 15rem;
		padding-left: 1em;
}


.row2 {
    text-align: center;
		display: block;
}


.col-33Ny img {
	width: 100%;
}
/*------------------------------Slide3 end-----------------------------*/

/*-----------------footer---------------------------*/
.r{
  border-top: 1px solid black;
}

footer p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;

  margin-bottom: 20px;
}

i{
  margin-left: 20px;
  margin-right: 20px;
  font-family: Oswald;
}

i a{
  color: black;
  text-decoration: none;
}

i a:hover{
  color: #aa0e28;
}

.links{
  text-align: center;
}
